.detail-article {
    width: calc(100% - 60px);
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    .detail-article-title {
        font-size: 32px;
        color: #444;
        padding-bottom: 20px;
    }
    .detail-article-info {
        display: flex;
        padding-bottom: 20px;
        width: 100%;
        .detail-article-info-item {
            padding: 0 15px;
            font-size: 13px;
            border-right: 1px solid #eee;
            color: #666;
            .iconfont {
                font-size: 18px;
                padding-right: 5px;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .detail-article-border {
        width: 100px;
        border: 1px solid #eee;
    }
    .detail-article-content {
        padding: 30px 0;
    }
    .detail-article-pay {
        display: flex;
        justify-content: center;
        width: 100%;
        .detail-article-pay-content {
            width: 140px;
            border-radius: 20px;
            font-size: 12px;
            border: 1px solid #bbb;
            text-align: center;
            padding: 10px 0;
            color: #666;
            cursor: pointer;
            .icon-qianbaoqiandaiyue {
                font-size: 15px;
                padding-right: 5px;
            }
            &:hover {
                background-color:#44cef6;
                color: #fff;
                border: 1px solid #44cef6;
            }
        }
    } 
    .detail-article-like {
        display: flex;
        width: 100%;
        padding: .2rem 0 .4rem 0;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        .detail-article-likeLeft {
            font-size: 14px;
            color: #ccc;
            .iconfont {
                font-size: 16px;
                padding-right: 10px;
            }
        }
        .detail-article-likeRight {
            font-size: 14px;
            .iconfont {
                font-size: 18px;
                padding-right: 10px;
            }
            .icon-weibo {
                color: #e32036;
            }
            .icon-icon-weixin {
                color: #4fdf94;
            }
            .icon-qq {
                color: #10b7f5;
            }
        }
    }
    .detail-article-capther {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 14px;
        padding-top: 30px;
        color: #666;
    }
}

@media screen and (max-width: 1200px) {
    width: calc(100% - 48px);
    padding: 32px 24px 24px 24px;
    .detail-article-title {
        font-size: 25.6px;
        padding-bottom: 16px;
    }
    .detail-article-info {
        padding-bottom: 16px;
        .detail-article-info-item {
            padding: 0 12px;
            font-size: 10.4px;
            .iconfont {
                font-size: 14.4px;
                padding-right: 4px;
            }
        }
    }
    .detail-article-border {
        width: 80px;
    }
    .detail-article-content {
        padding: 24px 0;
    }
    .detail-article-pay {
        .detail-article-pay-content {
            width: 112px;
            border-radius: 16px;
            font-size: 9.6px;
            padding: 8px 0;
            .icon-qianbaoqiandaiyue {
                font-size: 12px;
                padding-right: 4px;
            }
        }
    }
    .detail-article-like {
        padding: .16rem 0 .32rem 0;
        .detail-article-likeLeft {
            font-size: 11.2px;
            .iconfont {
                font-size: 14.4px;
                padding-right: 8px;
            }
        }
        .detail-article-likeRight {
            font-size: 11.2px;
            .iconfont {
                font-size: 14.4px;
                padding-right: 8px;
            }
        }
    }
    .detail-article-capther {
        font-size: 11.2px;
        padding-top: 24px;
    }
}

@media screen and (max-width: 780px) {
    width: calc(100% - .64rem);
    padding: .45rem .32rem .32rem .32rem;
    .detail-article-title {
        font-size: .6rem;
        padding-bottom: .22rem;
    }
    .detail-article-info {
        padding-bottom: .22rem;
        .detail-article-info-item {
            padding: 0 .15rem;
            font-size: .13rem;
            .iconfont {
                font-size: .18rem;
                padding-right: .05rem;
            }
        }
        .class {
            display: none;
        }
        .name {
            display: none;
        }
    }
    .detail-article-border {
        width: 1.04rem;
    }
    .detail-article-content {
        padding: .31rem 0;
    }
    .detail-article-pay {
        .detail-article-pay-content {
            width: 1.4rem;
            border-radius: .2rem;
            font-size: .12rem;
            padding: 8px 0;
            .icon-qianbaoqiandaiyue {
                font-size: .1rem;
                padding-right: .05rem;
            }
        }
    }
    .detail-article-like {
        padding: .16rem 0 .32rem 0;
        .detail-article-likeLeft {
            font-size: .14rem;
            .iconfont {
                font-size: .18rem;
                padding-right: .1rem;
            }
        }
        .detail-article-likeRight {
            font-size: .14rem;
            .iconfont {
                font-size: .18rem;
                padding-right: .1rem;
            }
        }
    }
    .detail-article-capther {
        font-size: .14rem;
        padding-top: .31rem;
    }
}